<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- This is an SEO Change; open graph tag -->
  <meta name="og:title" property="og:title" content="Personal Budget">
  <!-- This is an SEO Change; robots tag -->
  <meta name="robots" content="noindex, nofollow">
  <!-- This is an SEO Change; meta tag description -->
  <meta name="description" content="A personal-budget management app to help track your spending.">
  <!-- This is an SEO Change; canonical tag (link is for example only) -->
  <link rel="canonical" href="https://mypersonalbudget.com/">
  <title>Personal Budget</title>
</head>
<body>
  <h1>Home Page</h1>
  <p>Below are some visualizations of your current budget. In order to add new budget items, click on the "Add Budget"
    link in the navigation bar above.
  </p>
  <p>Additionally, you can click on the "View Budget" tab in the navigation bar to see a table of your budget items.
    You are also able to modify or delete budget items from the "View budget" tab as well.
  </p>

  <app-bar></app-bar>
  <app-pie></app-pie>
  <app-scatter></app-scatter>

</body>
</html>

